/* Error Messages */
div.error-msg {
	margin-bottom: 15px;
	padding: 2px;
	padding-left: 15px;
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
	border-radius: 5px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.1em;
}
div.error-msg p:before {
	content: "Uh Oh!";
	font-weight: bold;
}